body{
  font-family: 'Poppins', sans-serif;

}

.main{
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 0;
}

.profile-img, .logo{
  max-width: 250px;
}

.logo{
  margin: 10px 0;
}

.link{
  display: block;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 5px;
  background: rgb(228, 228, 228);
  color: rgb(85, 85, 85);
  text-align: center;
  border: solid 1px rgb(85, 85, 85);
  text-decoration: none;
  margin: 10px 0;
  line-height: calc(1em + 7px);
  transition: ease-in 50ms;
}

.link:hover{
  background: rgb(77, 77, 77);
  color: #fff;
}

.social{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social a{
  color: #000;
  text-decoration: none;
  font-size: 35px;
  margin-right: 10px;
}